<h1>Details</h1>

<div class="address">
  <p>
    <%= @contact.address().street() %>
  </p>
  <p>
    <%= "#{@contact.address().city}, #{@contact.address().state}" %>
  </p>
  <p>
    <%= @contact.address().zip %>
  </p>
  <p>
    <%= @contact.address().type %>
  </p>
</div>

<div class="phone">
  <p>
    <%= "(#{@contact.phone().area_code}) #{@contact.phone().number.insert(3, '-')}" %>
  </p>
  <p>
    <%= @contact.phone().type %>
  </p>
</div>

<div class="email">
  <p>
    <%= @contact.email().address %>
  </p>
  <p>
    <%= @contact.email().type %>
  </p>
</div>
